FRONTEND_IMAGE="your-dockerhub-id/mzc-frontend:latest"
BACKEND_IMAGE="your-dockerhub-id/mzc-backend:latest"

DATABASE_URL="mysql://root:password@192.168.30.10:3306/restaurant_waiting"
JWT_SECRET="change_me"
JWT_EXPIRES_IN="1h"
REDIS_HOST="192.168.30.10"
REDIS_PORT=6379

# Optional runtime identifiers
POD_NAME=""
NODE_NAME=""
